{define header}
	Přehled termínů
{/define}

{define toolbox}
	<a n:href="form" class="btn btn-outline-info">
		{icon plus-circle}
		Vygenerovat termíny
	</a>
{/define}

{block content}
	{control termGrid}