{define header}
	Přehled termínů
{/define}

{define toolbox}
	<a n:href="form" class="btn btn-primary">
		<span class="fa-solid fa-plus-circle fa-fw"></span>
		Vygenerovat termíny
	</a>
{/define}

{block content}
	{control termGrid}