{define header}
	Vygenerovat termíny
{/define}

{define toolbox}
	<a n:href="default" class="btn btn-outline-secondary">
		<span class="fa-solid fa-reply fa-fw"></span>
		Zpět na přehled
	</a>
{/define}

{block content}
	{control termForm}
