<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
		{ifset header}{include header|striptags}{/ifset}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{$basePath}/favicon.png">
		<link rel="stylesheet" href="{$basePath}/dist/{$css}">
	</head>
	{snippet flashMessages}
		<div id="flashMessagesBox" class="pull-right">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
				<button class="close" type="button" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				{$flash->message|noescape}
			</div>
		</div>
	{/snippet}

	<body class="hold-transition sidebar-mini {$presenter->isLinkCurrent(':User:Login:default') ? layout-top-nav}">
		<div class="wrapper">
			{ifset #bodyContent}
				{include #bodyContent}
			{else}
				{include content}
			{/ifset}
			{if !$presenter instanceof \Core\Presenter\AuthPresenter}
				<footer class="main-footer ml-5 mr-5">
					<div class="float-right d-none d-sm-block">
						<b>Verze</b> 1.0.0
					</div>
					<strong>&copy; {php echo date("Y")} Na hájku
				</footer>
			{/if}
		</div>

		<script src="{$basePath}/dist/{$js}"></script>
		{ifset #js}
			{include #js}
		{/ifset}
	</body>
</html>

