<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="light">

		<title>{ifset #header}{include #header|stripHtml|trim} – {/ifset}Volejbálek</title>

		<link rel="stylesheet" href="{webpack app.css}">
		<link rel="icon" type="image/gif" href="{$basePath}/images/icon_ball.gif">
	</head>

	<body>
		<div class="flash-messages" n:snippet="flashMessages">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible" role="alert">
				{$flash->message}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zavřít"></button>
			</div>
		</div>

		{ifset #bodyContent}
			{include #bodyContent}
		{else}
			{* stránky mimo administraci (přihlášení, obnova hesla) *}
			<main class="login">
				{include content}
			</main>
		{/ifset}

		<script n:nonce src="{webpack app.js}"></script>
		{ifset #js}{include #js}{/ifset}
	</body>
</html>
