<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{ifset header}{include header|striptags}{/ifset}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{$basePath}/assets/bootstrap.min.css" rel="stylesheet">
		<link href="{$basePath}/assets/dashboard.css" rel="stylesheet">
	</head>
	{snippet flashMessages}
		<div id="flashMessagesBox" class="pull-right">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
				<button class="close" type="button" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				{$flash->message|noescape}
			</div>
		</div>
	{/snippet}

	<body>
		{ifset #bodyContent}
			{include #bodyContent}
		{else}
			{include content}
		{/ifset}
		<script src="{$basePath}/assets/bootstrap.bundle.min.js"></script>
		{ifset #js}
			{include #js}
		{/ifset}
	</body>
</html>

