{define header}
	Přehled uživatelů
{/define}

{define toolbox}
	<a n:href="add" class="btn btn-outline-info">
		{icon plus-circle}
		Přidat uživatele
	</a>
{/define}

{block content}
	{control userGrid}
