<form n:name="form" class="login-card">
	<h3 class="mb-4">Přihlášení</h3>

	<div n:foreach="$form->getOwnErrors() as $error" class="alert alert-danger">{$error}</div>

	<div class="mb-3">
		<input n:name="login">
		<div n:ifcontent class="invalid-feedback">{inputError login}</div>
	</div>

	<div class="mb-3">
		<input n:name="password">
		<div n:ifcontent class="invalid-feedback">{inputError password}</div>
	</div>

	<div class="d-grid gap-2">
		<input n:name="submit" class="btn btn-primary">
		<a href="{plink :User:Login:reset}" class="btn btn-link">Zapomenuté heslo</a>
	</div>
</form>
