{form form}
	<div class="container login-container">
		<div class="row">
			<div class="col-md-12 login-form-1">
				<div class="row">
					<div class="col-md-6 col-12 p-3 text-center" style="margin-top: 5%;">
						<h3>{label email}</h3>
						<div class="form-group mt-5">
							{input email}
							{if $form['email']->hasErrors()}
								<span class="error invalid-feedback">{$form['email']->getError()}</span>
							{/if}
						</div>
						<div class="form-group row mt-5">
							<input type="submit" style="width: 50%;" class="btn btn-primary" value="Resetovat" />
							<a class="btn btn-warning" style="width: 50%;" href="{plink :User:Login:}">Zpět na přihlašovací stránku</a>
						</div>
					</div>
					<div class="col-md-6 col-none">
						<img src="{$basePath}/image/logo.png">
					</div>
				</div>
			</div>
		</div>
	</div>
{/form}