<form n:name="form" class="login-card">
	<h3 class="mb-3">Obnovení hesla</h3>

	<p class="text-muted">{label email /}</p>

	<div class="mb-3">
		<input n:name="email">
		<div n:ifcontent class="invalid-feedback">{inputError email}</div>
	</div>

	<div class="d-grid gap-2">
		<input n:name="reset" class="btn btn-primary">
		<a href="{plink :User:Login:}" class="btn btn-link">Zpět na přihlášení</a>
	</div>
</form>
