{define header}
	Přehled týmů
{/define}

{define toolbox}
	<a n:href="add" class="btn btn-primary">
		<span class="fa-solid fa-plus-circle fa-fw"></span>
		Přidat tým
	</a>
{/define}

{block content}
	{control teamGrid}