{define header}
	{if $id}Úprava týmu{else}Nový tým{/if}
{/define}

{define toolbox}
	<a n:href="default" class="btn btn-outline-secondary">
		<span class="fa-solid fa-reply fa-fw"></span>
		Zpět na přehled
	</a>
{/define}

{block content}
	{control teamForm}
