{layout $mailLayout}

{block body}
	Dobrý den,<br><br>

	<p>
		pro Váš uživatelský účet jsme registrovali požadavek pro resetování hesla.
	</p>
	<p>
		Heslo resetujete pomocí následujícího odkazu
	</p>
	<p>
		{link User:Login:resetPassword, h => $hash}
	</p>
	<br>
	Pokud jste tuto akci nevyvolali Vy, tuto zprávu, prosíme, ignorujte.