<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<title>Volejbálek - obnovení hesla</title>
	</head>
	<body>
		<p>Dobrý den,</p>

		<p>pro Váš účet v aplikaci Volejbálek jsme obdrželi žádost o obnovení hesla.</p>

		<p>Nové heslo nastavíte na tomto odkazu, který je platný 1 hodinu:</p>

		<p><a href="{$link}">{$link}</a></p>

		<p>Pokud jste o obnovení nežádali, tento e-mail ignorujte, heslo zůstane beze změny.</p>
	</body>
</html>
